header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
header > a.logo {
  letter-spacing: 6px;
}
header > div {
  flex: 1;
  display: flex;
  justify-content: end;
}
header > div > a {
}
header a {
  text-decoration: none;
  color: black;
  padding: 16px;
}
header a:hover {
  background-color: #cccccc;
}
