main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

main > aside {
  width: 100%;
}
main > div.routeHolder {
  flex: 1;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
  main > aside {
    width: 200px;
  }
}
