a.post {
  padding: 16px;
  background-color: #f1f1f1;
  text-decoration: none;
  color: black;
}
a.post:hover {
  background-color: #ccc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
div.post > div.title {
}
